{% extends "selectsenlazados/base.html" %}
 
{% block content %}
  <form action="" method="POST">
    {% csrf_token %}



    <!-- Nombre del POA -->
    <label for="id_nombre"> {{ form.nombre.label }} </label>
    <p> {{ form.nombre }} </p>



    <!-- Descripción del POA -->
    <label for="id_descripcion"> {{ form.descripcion.label }} </label>
    <p> {{ form.descripcion }} </p>



    <!-- Estado del POA -->
    <label for="id_estado"> {{ form.estado.label }} </label>
    <p>
      <select name="estado" required id="id_estado">
        <option value="">Seleccione un Estado</option>
        {% for estado in estados %}
          <option value="{{ estado.id }}">{{ estado.nombre_estado }}</option>
        {% endfor %}
      </select>
    </p>



    <!-- Municipio del POA -->
    <label for="id_municipio">{{ form.municipio.label }}</label>
    <p>
      <select name="municipio" id="id_municipio" required>
        <option value="">Seleccione un municipio</option>
      </select>
    </p>

    <!-- Parroquia del POA -->
    <label for="id_parroquia">{{ form.parroquia.label }}</label>
    <p>
      <select name="parroquia" id="id_parroquia" required>
        <option value="">Seleccione una parroquia</option>
      </select>
    </p>



    <br>
    <input type="submit" value="Send">
  </form>
  <script>
    (function(){

      /*
       * 1. Buscar el elemento en el DOM que hará que el segundo select sea llenado
       */
      var id_estado = document.getElementById("id_estado");
      var id_municipio = document.getElementById("id_municipio");
      var id_parroquia = document.getElementById("id_parroquia");


      /*
       * 2. Crear un array con los municipios de cada estado
       *
       * @for estado in estados           Se consultan los estados disponibles traídos desde la
       *                                  consulta en la base de datos.
       *
       * @param estado_{{ estado.id }}    Se crea un array por cada estado disponible en la base de
       *                                  datos.
       *
       * @for municipio in municipios     Se consultan los municipios disponibles traídos desde la
       *                                  consulta en la base de datos.
       *
       * @if municipio.estado_perteneciente.id == estado.id   Si el id del municipio concuerda con
       *                                                      el id del estado, mete el nombre del
       *                                                      municipio en el array del estado
       *                                                      correspondiente. 
       */

      {% for estado in estados %}

        var estado_{{ estado.id }} = new Array();
        var estado_{{ estado.id }}_id = new Array();

        {% for municipio in municipios %}
          {% if municipio.estado_perteneciente.id == estado.id %}

            var municipio_{{municipio.id }} = new Array();
            var municipio_{{municipio.id }}_id = new Array();
            estado_{{ estado.id }}.push('{{ municipio.nombre_municipio }}');
            estado_{{ estado.id }}_id.push('{{ municipio.id }}');

            {% for parroquia in parroquias %}

              {% if parroquia.municipio_perteneciente.id == municipio.id %}

                municipio_{{municipio.id }}.push('{{ parroquia.nombre_parroquia }}');
                municipio_{{municipio.id }}_id.push('{{ parroquia.id }}');

              {% endif %}

            {% endfor %}


          {% endif %}
        {% endfor %}

      {% endfor %}


      /*
       * 3. Crear el evento que escuchará e imprimirá las opciones al cambiar el select "estado" 
       */
      id_estado.addEventListener('change',function(){

        // Valor del select "id_estado"
        let estado_seleccionado = this.value;

        // Verifica la validez de estado_seleccionado
        if(estado_seleccionado != 0) {
 
          // Selecciona el array que se llame como el servicio que se seleccionó
          array_del_estado = eval("estado_" + estado_seleccionado);
          array_del_estado_id = eval("estado_" + estado_seleccionado + "_id");
 
          // Calcula el número de elementos que se imprimirá en el combobox
          cantidad_municipios = array_del_estado.length;
 
          // Se le asigna el largo de array al combobox
          id_municipio.length = cantidad_municipios + 1;

          id_municipio.options[0].value = "";
          id_municipio.options[0].text = "Seleccionar";
 
          // Imprime las opciones en el combobox
          for(i=0; i < cantidad_municipios; i++){
            id_municipio.options[i+1].value = array_del_estado_id[i];
            id_municipio.options[i+1].text = array_del_estado[i];
          }
 
        } else {

          // si no habia ninguna opt seleccionada, se eliminan  del select
          id_municipio.length = 1;

          //ponemos un guion en la unica opt que he dejado
          id_municipio.options[0].value="";
          id_municipio.options[0].text="Seleccione un municipio";
        }


      }, true);

      id_municipio.addEventListener('change',function(){

        // Valor del select "id_estado"
        let estado_seleccionado = this.value;

        // Verifica la validez de estado_seleccionado
        if(estado_seleccionado != 0) {
 
          // Selecciona el array que se llame como el servicio que se seleccionó
          array_del_estado = eval("municipio_" + estado_seleccionado);
          array_del_estado_id = eval("municipio_" + estado_seleccionado + "_id");
 
          // Calcula el número de elementos que se imprimirá en el combobox
          cantidad_municipios = array_del_estado.length;
 
          // Se le asigna el largo de array al combobox
          id_parroquia.length = cantidad_municipios + 1;

          id_parroquia.options[0].value = "";
          id_parroquia.options[0].text = "Seleccionar";
 
          // Imprime las opciones en el combobox
          for(i=0; i < cantidad_municipios; i++){
            id_parroquia.options[i+1].value = array_del_estado_id[i];
            id_parroquia.options[i+1].text = array_del_estado[i];
          }
 
        } else {

          // si no habia ninguna opt seleccionada, se eliminan  del select
          id_parroquia.length = 1;

          //ponemos un guion en la unica opt que he dejado
          id_parroquia.options[0].value="";
          id_parroquia.options[0].text="Seleccione un municipio";
        }


      }, true);
      })();
  </script>

{% endblock %}